html {
  font-family: sans-serif;
}

summary {
  margin-bottom: 1rem;
}

/* General start*/

h1,
h2,
h3,
h4 {
  color: #111111;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin-bottom: 24px;
  padding: 0;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 36px;
  margin: 24px 0 6px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 21px;
}
h5 {
  font-size: 18px;
}
a {
  color: #0099ff;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
ul,
ol {
  padding: 0;
  margin: 0;
}
li {
  line-height: 24px;
}
li ul,
li ul {
  margin-left: 24px;
}
p,
ul,
ol {
  font-size: 16px;
  line-height: 24px;
  max-width: 540px;
}
pre {
  padding: 0px 24px;
  max-width: 800px;
  white-space: pre-wrap;
}
code {
  font-family: Consolas, Monaco, Andale Mono, monospace;
  line-height: 1.5;
  font-size: 13px;
}
aside {
  display: block;
  float: right;
  width: 390px;
}
blockquote {
  margin: 1em 2em;
  max-width: 476px;
}
blockquote p {
  color: #666;
  max-width: 460px;
}
hr {
  width: 540px;
  text-align: left;
  margin: 0 auto 0 0;
  color: #999;
}
table {
  border-collapse: collapse;
  margin: 1em 1em;
  border: 1px solid #ccc;
}
table thead {
  background-color: #eee;
}
table thead td {
  color: #666;
}
table td {
  padding: 0.5em 1em;
  border: 1px solid #ccc;
}

/* General end*/

/* Using this hack to prevent unnecessary redraw of timeline on view toggle */
/* display: none was causing a render bug when switching views with filters on */
.hide-by-offset {
  position: absolute;
  left: -9999px;
  top: -9999px;
  width: 0;
  height: 0;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.block {
  display: block;
}

.section {
  margin-bottom: 1rem;
}

.icon-scale {
  height: 1em;
  width: 1em;
}

.icon-md {
  height: 1.5em;
  width: 1.5em;
}

.icon-lg {
  height: 2em;
  width: 2em;
}

.inline-item + .inline-item {
  margin-left: 0.5rem;
}

/* TOGGLE BUTTON start */
:root {
  --toggle-height: 20px;
  --toggle-width: 48px;
}

.toggle {
  display: inline;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.toggle-switch {
  background: #ccc;
  border-radius: 15px;
  width: var(--toggle-width);
  height: var(--toggle-height);
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
}

.toggle-switch::after {
  content: " ";
  display: block;
  width: var(--toggle-height);
  height: var(--toggle-height);
  border-radius: 50%;
  background-color: black;
  transition: all 0.1s ease-in-out;
}

.active .toggle-switch::after {
  margin-left: calc(var(--toggle-width) - var(--toggle-height));
}

.toggle-label {
  display: inline-block;
  line-height: 30px;
}
/* TOGGLE BUTTON end */

span.lastNoted {
  font-style: italic;
  opacity: 0.5;
  font-size: 0.75rem;
  margin-left: 0.25rem;
}
