/* Custom style overrides for vis.js timeline */
/* More info: https://visjs.github.io/vis-timeline/docs/timeline/#Styles */
.vis-item {
  border-color: orange;
  background-color: yellow;
}

.vis-timeline {
  border: 2px solid orange;
  /* box-shadow: inset 0 0 10px 10px orange; */
}
