include mixins/noteLink
doctype html
html(lang='en')
  head
    title Home
    script(src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js" integrity="sha512-XHDcSyqhOoO2ocB7sKOCJEkUjw/pQCJViP1ynpy+EGh/LggzrP6U/V3a++LQTnZT7sCQKeHRyWHfhN2afjXjCg==" crossorigin="anonymous" referrerpolicy="no-referrer")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis-timeline-graph2d.min.css" integrity="sha512-bbXw0l+sIgE839ldwV4+tEPR4lIelw+Ryj35jm5c6KTgXNJybZJ4DrV+a40zK9kx8pvqNbneG0TGdJBP2jUa4Q==" crossorigin="anonymous" referrerpolicy="no-referrer")
    link(rel="stylesheet" href="style.css")
    link(rel="stylesheet" href="timeline.css")
  body
    h1 Home
    p
      each tag in Object.keys(info.summary.tags.map)
        li= tag
    div
      each note in notes
        +notesLink(note) 
    div#timeline-yearPublished

    script(type="text/javascript"). 
      const container = document.getElementById('timeline')
      const nts = !{JSON.stringify(notes)}
      console.log({nts})

      const data = nts.map(n => ({ id: n.id, content: n.fm.title, start: new Date(n.fm.yearPublished, 0, 1)}))
      console.log({data})
      const items = new vis.DataSet(data);

      const options = {
        showCurrentTime: false
      };

      const timeline = new vis.Timeline(container, items, options);

      